.container {
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	gap: 30px;
}

.avatar-list {
	text-align: center;
	max-width: 420px;
	margin: 0 auto 120px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	padding: 0 20px;
}

@media screen and (min-width: 720px) {
	.avatar-list {
		max-width: 720px;
		padding: 0;
	}
}

@media screen and (min-width: 1200px) {
	.avatar-list {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media screen and (min-width: 1080px) {
	.avatar-list {
		max-width: 1200px;
	}
}

.avatar-item {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-color: #eaeaea;
	border-radius: 50%;
	overflow: hidden;
	width: 90px;
	height: 90px;
	margin: 0 auto;
}

@media screen and (min-width: 720px) {
	.avatar-item {
		width: 200px;
		height: 200px;
	}
}

.avatar-item > svg {
	width: 90%;
	height: 90%;
}
